  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

  * {
      font-family: 'Poppins', sans-serif;
  }

  .contenedor {
      background-image: url('imganes/principal.png');
      height: 40vh;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .img-fluid {
      max-width: 100%;
      height: auto;}